    	<%
	var i = 0;
	if(quizes[i].image) {%>
        <p><img class="img-responsive center-block" src="/media/<%=quizes[i].image%>" alt="imagen quiz <%quiz.id%>"></p>
        <%}%>
    <div>
        <div class="form-group">
            <form method="get" action="/quizes/<%= quizes[i].id %>/answer" >
                <%= quizes[i].pregunta %> <p>
                <input type="text" name="respuesta" value="Respuesta" onFocus="this.value=''" placeholder="Respuesta"/>
                <input type="submit" value="Enviar">
            </form>
        </div>
         <% include ../favourites/_form.ejs %>
        <p><a href="/quizes/<%= quizes[i].id %>/comments/new"><button class="btn btn-default">Nuevo Comentario</button></a></p>
        
        <p><strong>Comentarios:</strong></p>
        <% if(quizes[i].Comments.length === 0){ %>
            <p>Sin Comentarios</p>
        <%  } else { %>
        <% for(index in quizes[i].Comments){ %>
        	<% if(quizes[i].Comments[index].publicado){%>
				<p>- <%= quizes[i].Comments[index].texto %> 
					<%} else if(session.user && (session.user.isAdmin || (session.user && quizes[i].userId === session.user.id))){%>
						<p>- <%= quizes[i].Comments[index].texto %>
						<a href="/quizes/<%= quizes[i].id %>/comments/<%=quizes[i].Comments[index].id%>/publish"><button class="btn-btn-primary">Publicar</button></a>
					<%}%>
				</p>
			<%}%>
		<%}%>
    </div>
        