    <div>
        <div class="form-group">
            <form method="get" action="/quizes/<%= quiz.id %>/answer" >
                <%= quiz.pregunta %> <p>
                <input type="text" name="respuesta" value="Respuesta" onFocus="this.value=''" placeholder="Respuesta"/>
                <input type="submit" value="Enviar">
            </form>
        </div>
        <p><a href="/quizes/<%= quiz.id %>/comments/new"><button class="btn btn-default">Nuevo Comentario</button></a></p>
        
        <p><strong>Comentarios:</strong></p>
        <% for(index in quiz.Comments){ %>
        	<% if(quiz.Comments[index].publicado || session.user){%>
				<p>- <%= quiz.Comments[index].texto %> 
					<% if(session.user && !quiz.Comments[index].publicado){%>
						<a href="/quizes/<%= quiz.id %>/comments/<%=quiz.Comments[index].id%>/publish"><button class="btn-btn-primary">Publicar</button></a>
					<%}%>
				</p>
			<%}%>
		<%}%>
    </div>
        