<h1>Estadísticas:</h1>
	<p>Número de preguntas: <%=numPreg%></p>
	<p>Nº de comments: <%=numCom%></p>
	<p>Media comentarios por pregunta: <%=mediaComPreg%></p>
	<p>Nº preguntas sin comments: <%=pregSinCom%></p>
	<p>Nº preguntas con comments: <%=pregConCom%></p>